.App {
  text-align: center;
}

.header {
  background-color: rgb(230, 188, 0);
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 10vh;
  background: rgb(6, 235, 185)
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: 'Slackey', cursive;
  text-decoration: none;
  color: black
}